# Data files
*.csv
*.xlsx
*.xls
*.json
*.xml
*.db
*.sqlite
*.h5
*.pkl
*.joblib

# Model files and checkpoints
*.model
*.pt
*.pth
*.weights
*.pb
*.ckpt
checkpoints/
saved_models/
*.hdf5

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
010 Machine learning/data
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.zip
*.tar.gz